@model WebApplication3.Endereco

@{
    ViewBag.Title = "ApiRequestAsync";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Endereco</h4>
        <hr />

        <div class="form-group">
            <label for="cep">Cep</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="cep" />
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Buscar" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
